<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shop Item - Start Bootstrap Template</title>
</head>
    <body>
        <form action="product/add/" enctype="multipart/form-data" method="post">
            <div>
                <label>Manufacturer</label>
                <input type="text" name="Manufacturer" value="Tissot" class="form-control" placeholder="Manufacturer" id="ManufacturerField">
            </div>
            <div>
                <label>Model</label>
                <input type="text" name="Model" value="La Locle" class="form-control" placeholder="Model" id ="ModelField">
            </div>
            <div>
                <label>File</label>
                <input type="file" name="photo">
            </div>
            <input class="btn list-group-item" type="submit" value="Add">
        </form>
    </body>
</html>
