<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <script src="js/employeeGetter.js"></script>
</head>
    <body onload="getEmployees()">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Watchmakers</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../">Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/login">Login</a>
                            <span class="sr-only">(current)</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1 class="my-4">Employee management</h1>
                    <div class="list-group">
                        <a href="/admin" class="list-group-item">Main admin page</a>
                        <a href="/productManagement" class="list-group-item">Product management</a>
                        <a href="/employeeManagement" class="list-group-item active">Employee management</a>
                        <a href="/#" class="list-group-item">Awaiting orders</a>
                      </div>
                </div>
                <div class="col-lg-9">
                    <div class="card mt-5">
                        <div class="card-body col-md-5">
                                <div class="table table-striped tbodyEmployee">
                                    
                                    <form class="tr">
                                        <span class="td">Id</span>
                                        <span class="td">Login</span>
                                        <span class="td">Name</span>
                                        <span class="td">Surname</span>
                                        <span class="td">Position</span>
                                        <span class="td">Update user</span>
                                        <span class="td">Delete user</span>
                                      </form>
                                </table>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body col-md-4">
                            <form action="api/employee/add" method="post">
                                <label>Add Employee</label>
                                <div class="form-group">
                                    <label>Login</label>
                                    <input type="text" name="login" class="form-control" placeholder="Login" >
                                </div>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Name" >
                                </div>
                                <div class="form-group">
                                    <label>Surname</label>
                                    <input type="text" name="surname" class="form-control" placeholder="Surname">
                                </div>
                                <div class="form-group">
                                    <label>Position</label>
                                    <input type="text" name="position" class="form-control" placeholder="Position" >
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password" >
                                </div>
                                <input class="btn list-group-item" type="submit" value="Add Employee">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Watchmakers Michał & Damian 2018</p>
            </div>
        </footer>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
