<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="product-container">

        </div>
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(function(){
                const Url = "/api/products";
                $.get(Url, function(data, status){
                    for(var i = 0; i < data.length; i++){
                        console.log(data[i]);
                        var $manufacturer = $("<h3>").text(data[i]["manufacturer"]);
                        var $model = $("<h4>").text(data[i]["model"]);
                        var $description = $("<p>").text(data[i]["description"]);
                        var $photo = $("<img>", {"src": "upload/" + data[i]["photo"]});

                        var $div = $("<div>", {"class": "product"});
                        $div.append($manufacturer);
                        $div.append($model);
                        $div.append($photo);

                        $("#product-container").append($div);
                    }
                });
            })
        </script>
    </body>
</html>